{% load static %}
<header class="header">
    <div class="header-inner">
        <a href="/">
            <img src="{% static 'images/logo_transparent.png' %}" class="header-logo" alt="">
            <div class="header-logo-text">
                <div>Twichu</div>
            </div>
        </a>
    </div>
    <div class="header-inner">
        <ul>
            {% if user.is_authenticated %}
            <li><a href="/accounts/logout">ログアウト</a></li>
            {% else %}
            <li><a href="/accounts/login">ログイン/登録</a></li>
            {% endif %}
            <li><a href="/home">HOME</a></li>
            <li><a href="/post">さがす</a></li>
            <li><a href="#">使い方</a></li>
            {% if user.is_authenticated %}
            {% if user.socialaccount_set.all.0.get_avatar_url %}
            <li><a href="{% url 'chusen:usersetting' pk=user.id %}"><img class="header-user-icon"
                        src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="{{user.username}}"></a></li>
            {% else %}
            <li><a href="{% url 'chusen:usersetting' pk=user.id %}"><img class="header-user-icon"
                        src="{% static 'images/nouser.png' %}" alt="{{user.username}}"></a></li>
            {% endif %}
            {% endif %}
        </ul>
    </div>
</header>