{% load static %}
<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
<link rel="icon" href="{% static 'images/logo.png' %}" sizes="16x16">
<link rel="icon" href="{% static 'images/logo.png' %}" sizes="32x32">
<link rel="icon" href="{% static 'images/logo.png' %}" sizes="48x48">
<link rel="icon" href="{% static 'images/logo.png' %}" sizes="96x96">
<link rel="apple-touch-icon" href="{% static 'images/logo.png' %}" sizes="57x57">
<link rel="apple-touch-icon" href="{% static 'images/logo.png' %}" sizes="60x60">
<link rel="apple-touch-icon" href="{% static 'images/logo.png' %}" sizes="72x72">
<link rel="apple-touch-icon" href="{% static 'images/logo.png' %}" sizes="76x76">
<link rel="apple-touch-icon" href="{% static 'images/logo.png' %}" sizes="114x114">
<link rel="apple-touch-icon" href="{% static 'images/logo.png' %}" sizes="120x120">
<link rel="apple-touch-icon" href="{% static 'images/logo.png' %}" sizes="144x144">
<link rel="apple-touch-icon" href="{% static 'images/logo.png' %}" sizes="152x152">
<link rel="apple-touch-icon" href="{% static 'images/logo.png' %}" sizes="180x180">